<a href="https://colab.research.google.com/github/lucasfreitas14/PA_2025/blob/main/variaveiseoperadoresaritmeticos/variaveiseconstantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variáveis e constantes

In [ ]:
idade = 14
altura = 1.70
nome = "Lucas Bellato"
vai = True

In [ ]:
nomes = ["Lucas Bellato","Neymar jr","Messi","Cristiano Ronaldo"]
nomes2 = ("Lucas Bellato","Neymar jr","Messi","Cristiano Ronaldo")
tudo = {nome:"Lucas Bellato",idade:14,altura:1.70,vai:True}

In [ ]:
print(nome)
print(nomes)
print(nomes2)
print(tudo)

Lucas Bellato
['Lucas Bellato', 'Neymar jr', 'Messi', 'Cristiano Ronaldo']
('Lucas Bellato', 'Neymar jr', 'Messi', 'Cristiano Ronaldo')
{'Lucas Bellato': 'Lucas Bellato', 14: 14, 1.7: 1.7, True: True}

In [ ]:
print(type(idade))
print(type(altura))
print(type(vai))
print(type(nome))
print(type(nomes))
print(type(nomes2))
print(type(tudo))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
print("o nome dele é:", nome,", sua idade é:", idade,"anos " "e ele tem", altura,"metros.")

o nome dele é: Lucas Bellato , sua idade é: 14 anos e ele tem 1.7 metros.

In [ ]:
print(f"o nome dele é : {nome}. A altura dele é: {altura}")

o nome dele é : Lucas Bellato. A altura dele é: 1.7

# Área do círculo

In [ ]:
PI = 3.14159
raio = float(input("Digite o valor do raio do circulo "))

Digite o valor do raio do circulo 07

In [ ]:
areacir = PI * (raio**2)

In [ ]:
print(f"A área do círculo é {areacir}")

A área do círculo é 153.93791

Área do quadrado

In [ ]:
Lado = float(input("Digite o valor do lado do quadrado: "))

Digite o valor do lado do quadrado: 10

In [ ]:
areaqua = Lado * Lado

In [ ]:
print(f"A área do quadrado é {areaqua}")

A área do quadrado é 100.0